<!doctype html>
<html lang="en">
  <head>
    <title>Trivia Game</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  </head>
  <body>
      
<div class="container">

      {{{ body }}}

</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="/assets/js/trivia.js" type="text/x-handlebars-template"></script>
  </body>
</html>