<div class="jumbotron">
  <h3 class="text-center"><em>Multiple Choice Only</em></h3>
  <form id="qform">
    <div class="form-group">
      <label for="newQuestion">Question: </label>
      <textarea class="form-control" id="newQuestion" rows="3" placeholder="Please Enter Question"></textarea>
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <select class="form-control" id="category">
        <option disabled selected value> -- select an option -- </option>
        <option>History</option>
        <option>Pop Culture</option>
        <option>Movies</option>
      </select>
    </div>
    <div class="form-group">
      <label for="answer1">Correct Answer</label>
      <input type="text" class="form-control" id="answer1">
    </div>
    <div class="form-group">
      <label for="answer2">Answer</label>
      <input type="text" class="form-control" id="answer2">
    </div>
    <div class="form-group">
      <label for="answer3">Answer</label>
      <input type="text" class="form-control" id="answer3">
    </div>
    <div class="form-group">
      <label for="answer4">Answer</label>
      <input type="text" class="form-control" id="answer4">
    </div>
    <button id='qbtn' class='btn btn-primary' type='submit'>Submit Question</button>
  </form>
</div>



{{!-- The below section can be modularized with middleware --}}
<script>

  $("#qform").on("submit", function (event) {
    event.preventDefault();

    var qObj = {
      text: $('#newQuestion').val().trim(),
      category: $('#category').val().trim(),
      answerType: 'Multiple Choice'
      //correct_answer1: $("#answer1").val().trim(),
      //answer2: $("#answer2").val().trim(),
      //answer3: $("#answer3").val().trim(),
      //answer4: $("#answer4").val().trim()
    };

    $.ajax({
      type: "POST",
      url: "/api/add",
      data: qObj
    })

    console.log(qObj)
    question: $('#newQuestion').val("")
    //answer1: $("#answer1").val("")
    //answer2: $("#answer2").val("")
    //answer3: $("#answer3").val("")
    //answer4: $("#answer4").val("")
  })

</script>