
    
<div id="burst-12"></div>

<div id="opening_text">
    <h1>OSG</h1>
    <a href="/game" id="button3" type="submit" class="btn btn-danger" value="play">Enter</a>
</div>

<audio id="mysoundclip1" src="/styles/audio/S1_BE.wav"></audio>

<script>

    $(document).on('click', '#button3', function() {

        setTimeout(function() {
            $('#burst-12').hide();
        }, 900)
    })

    function begin () {
        $('#opening_text').addClass('animated bounceInDown');
    }
    begin();

     var relativeOffset = anime.timeline({
            autoplay: false
    });

    relativeOffset

    .add({
        targets: '#burst-12',
        
        rotate: [{ value: '360deg', duration: 1200 }],
        easing: 'easeInOutSine',
        begin: function () {
                document.getElementById('mysoundclip1').play()
            },
        
    })

    .add({
        targets: '#burst-12',
        offset: '-=500',
        translateX: [{ value: 1000, duration: 2000 }],
        //easing: 'easeInCirc',
        begin: function(){
            $('#opening_text').hide();
        },
        
    })
    
    document.querySelector('.btn').onclick = relativeOffset.restart;

</script>







    

